<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <head>
      <title>{{page.title}} - KarlTryggvason.com</title>
      <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" media="screen" />
      <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css" type="text/css" media="screen" />
      <link href="http://www.karltryggvason.com/favicon.ico" rel="shortcut icon" />
      <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
      <meta property="og:title" content="{{page.title}} - KarlTryggvason.com" />
      <meta property="og:type" content="website"/>
      {% if page.thumb %}
      <meta property="og:image" content="http://www.karltryggvason.com/{{ page.thumb }}"/>
      {% endif %}
      {% if page.overview %}
        <meta property="og:description" content="{{ page.overview }}"/>
      {% else %}
        <meta property="og:description" content="Personal webpage of Karl Tryggvason. Developer, dj and promoter from Reykjavik Iceland">
      {% endif %}
      {% if page.css %}
        {{ page.css }}
      {% endif %}
      {% if page.script %}
        {{ page.script }}
      {% else %}
        <script src="/js/jquery.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>
        <script src="https://kit.fontawesome.com/d35067d107.js" crossorigin="anonymous"></script>
        {% endif %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
      {% if page.description %}
        <meta name="description" content="{{page.description}}">
      {% else %}
        <meta name="description" content="Personal webpage of Karl Tryggvason. Developer, dj and promoter from Reykjavik Iceland">
      {% endif %}  
      <link rel="shortcut icon" href="/favicon.ico">
      <meta name="author" content="Karl Tryggvason">
  </head>
    <body>
    <div class="container-fullwidth">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="brand" href="/">Karl Tryggvason</a>
              <ul class="nav">
                <li><a href="https://blog.karltryggvason.com">Blog</a></li>
                <li><a href="https://karltryggvason.com/podcast">Podcast</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
            {{content}}
        </div><!--/span-->
      </div><!--/row-->

      <hr />

      <div class="sm">
        <ul >
            <li><a href="mailto:ktryggvason@gmail.com" title="Email me"><i class="fas fa-envelope"></i></a></li>
            <li><a href="http://www.twitter.com/karltryggvason" title="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="http://www.linkedin.com/karltryggvason" title="Linked in"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="http://www.github.com/kalli" title="Github"><i class="fab fa-github"></i></a></li>
            <li><a href="http://www.mixcloud.com/kalli" title="Mixcloud"><i class="fab fa-mixcloud"></i></a></li>
            <li><a href="http://www.last.fm/user/djkalli" title="Last.fm"><i class="fab fa-lastfm" ></i></a></li>
            <li><a href="http://www.flickr.com/photos/kalli/" title="Flickr"><i class="fab fa-flickr" ></i></a></li>
            <li><a href="http://www.soundcloud.com/kalli" title="SoundCloud"><i class="fab fa-soundcloud" ></i></a></li>
            <li><a href="http://www.goodreads.com/user/show/678304-kalli" title="GoodReads"><i class="fab fa-goodreads-g" ></i></a></li>
        </ul>
      </div>

    </div>
    </body>
</html> 